<link rel="stylesheet" href="../css/style.css"/>
<footer>
        <hr>
        <h6 id="os">© 2014-2022 DenKie <br>
        <a href="q" target="_blank">Условия и политика конфиденциальностиs</a> </h6>
    </footer>