<link rel="stylesheet" href="../css/style.css"/>
<header>
        <h1>Вкусный блог<br><h4>Попробуем жизнь на вкус?!</h4></h1>
        <hr>
        <nav>
            <ul>
                <li><a href="/">Главное</a></li>
                <li><a href="#ing">Ингредиенты</a></li>
                <li><a href="#prig">Приготовление</a></li>
                <li><a href="#con">Контакты</a></li>
                <li><a href="#os">О сайте</a></li>
            </ul>
        </nav>
        <hr>
    </header>