<link rel="stylesheet" type="text/css" href="../css/style_states.css" />

<ul>
    <li><a href="./states/1">state 1</a></li>
    <li><a href="./states/2">state 2</a></li>
    <li><a href="./states/3">state 3</a></li>
    <li><a href="./states/4">state 4</a></li>
</ul>